@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: whitesmoke;
  background-color: #070F2B;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
::-webkit-scrollbar{
  display: none;
}
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: whitesmoke;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}
.voltage-button {
  position: relative;
}

.voltage-button button {
  color: white;
  font-weight: 700;
  background: #6076f5;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: 2px solid whitesmoke;
  font-size: 1.2rem;
  letter-spacing: 0.075em;
  transition: background 0.3s;
}

.voltage-button button:hover {
  cursor: pointer;
  background: #070F2B;
}

.voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
  opacity: 1;
}

.voltage-button svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

.voltage-button svg path.line-1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
  stroke: #6bfeff;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.voltage-button .dots .dot {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.voltage-button .dots .dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%, 100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}
.cl-formButtonPrimary{
  background-color: rgb(192 38 211);
}
.cl-formButtonPrimary:hover{
  background-color: rgb(192 38 211);
}
.cl-card{
  background-color: rgba(2, 6, 23, 0);
  /* filter: drop-shadow(0rem 0rem 0.5rem rgba(50,250,250,0.5)); */
}
.cl-cardBox{
  background-color: rgba(2, 6, 23, 0.493);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(50,250,250,0.25));
  border: 1px solid whitesmoke;
  border-radius: 1rem 1rem 0% 0%;
  border-bottom: 0;
}
.already{
  border: 1px solid whitesmoke;
  border-top: 0;
  border-radius: 0% 0% 1rem 1rem;
}
.cl-otpCodeFieldInput,.cl-input{
  border: 1px solid whitesmoke;
  background-color: rgba(245, 245, 245, 0.395);
  color: whitesmoke;
}
.cl-formResendCodeLink{
  color: whitesmoke;
}
.register{
  background-color: rgba(2, 6, 23, 0.874);
  filter: drop-shadow(0rem 0rem 0.5rem rgba(50,250,250,0.5));

}
.cl-internal-167tq3k,.cl-selectButton,.cl-formFieldInput,.cl-selectButtonIcon,.cl-internal-1vmcfp6{
  background-color: rgb(30 41 59 ) ;
  color: whitesmoke;
}
.cl-selectButton:hover{
  background-color: rgb(30 41 59 ) ;
  color: whitesmoke;
}
.cl-formFieldAction{
  color: white;
}
.cl-footerActionLink,.cl-alternativeMethodsBlockButtonText{
  color: white;
  opacity: 1;
  z-index: 10;
}
.cl-backLink{
  width: 100%;
  color: red;
  text-decoration: underline;
  font-weight: 600;
  font-size: larger;
  text-align: center;
}
.cl-internal-1fn33zq{
  color: #44495f;
}
.cl-formFieldHintText{
  display: none;
}
.cl-formFieldInputShowPasswordIcon{
  color: wheat;
}