.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 30;
  filter: blur(0.2px);
}
.DialogContent {
  min-width: 300px;
  background: rgba(44, 50, 62, 0.84);
  color: black;
  border-radius: 4px;
  width: 50vw;
  height: 50vh;
  overflow-y: scroll;
  scrollbar-width: 10px;
  border: 2px solid white;
}